---
import StackedSections from '../layouts/StackedSections.astro';
import SiteHeader from '../sections/SiteHeader.astro';
import Hero from '../sections/Hero.astro';
import Programs from '../sections/Programs.astro';
---

<StackedSections title="Welcome to Astro.">
  <div>
    <SiteHeader />
    <Hero />
    <Programs />
  </div>
</StackedSections>
