---
---

<section>
    <header>
        <div><a href="/">Logo</a></div>
        <div>
            <div>
                <nav>
                    <ul>
                        <li>Programs</li>
                        <li>Board Members</li>
                        <li>Get Involved</li>
                    </ul>
                </nav>
            </div>
            <div>
                <ul>
                    <li>FB</li>
                    <li>IG</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Español</li>
                </ul>
            </div>
        </div>
    </header>
    <h1>Dual Enrollment Recruitment and College Access Support</h1>
    <p>We advance our mission by recuiting and supporting dual enrollement classes in STEM disciplines for historically marginalized students.</p>
    <div>
        <a href="#get-involved">Get Involved</a>
        <a href="mailto:contact@swstem.org">Contact Us</a>
    </div>
</section>