---
---

<section class="py-48 px-8 bg-gray-500 relative overflow-hidden">
    <div class="max-w-prose text-white z-30 relative">
        <h1 class="text-4xl mb-8 font-bold">Dual Enrollment Recruitment and College Access Support</h1>
        <p class="text-2xl mb-16">We advance our mission by recuiting and supporting dual enrollement classes in STEM disciplines for historically marginalized students.</p>
        <div class="flex gap-4 items-center h-full">
            <a class="block border-2 border-secondary-500 bg-secondary-500 px-8 py-4 font-bold" href="#get-involved">Get Involved</a>
            <a class="block px-8 py-4 border-2 border-white-500 font-bold text-white" href="mailto:contact@swstem.org">Contact Us</a>
        </div>
    </div>
    <div class="hidden md:block bg-black w-full h-full opacity-30 absolute z-20 top-0 left-0" />
    <video autoplay loop muted class="hidden md:block absolute z-10 w-auto min-w-full min-h-full max-w-full top-0 left-0 xl:-top-16 scale-[2] lg:scale-150 xl:scale-125 xxl:scale-100">
        <source src="pexels-tima-miroshnichenko-5428315 (2160p).mp4" type="video/mp4" />
    </video>
</section>
