---
import ProgramCard from "../components/ProgramCard.astro";
---
<section>
    <header class="px-8 py-32 text-center max-w-7xl m-auto">
        <span class="uppercase font-bold text-xl text-primary-500 mb-4">Programs</span>
        <h2 class="text-4xl font-bold">We partner with education institutions to recruit students for courses, job shadowing, field experiences, and college success counseling.</h2>
    </header>

    <ul class="flex flex-wrap gap-4 px-32 justify-center">
        <li><ProgramCard imageSrc="phys-comp.jpg" category="Technology" title="Physical Computing" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Sit amet nisl purus in mollis. Nunc sed velit dignissim sodales ut eu sem integer." /></li>
        <li><ProgramCard imageSrc="stem-night.jpg" category="Science" title="STEM Night" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Sit amet nisl purus in mollis. Nunc sed velit dignissim sodales ut eu sem integer." /></li>
        <li><ProgramCard imageSrc="robotics.jpg" category="Engineering" title="Robotics FTC" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Sit amet nisl purus in mollis. Nunc sed velit dignissim sodales ut eu sem integer." /></li>
        <li><ProgramCard imageSrc="summer-camp.jpg" category="Health & Fitness" title="Summer Camp" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Sit amet nisl purus in mollis. Nunc sed velit dignissim sodales ut eu sem integer." /></li>
        <li><ProgramCard imageSrc="coding-animations.jpg" category="Technology" title="Coding Animation & Games" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Sit amet nisl purus in mollis. Nunc sed velit dignissim sodales ut eu sem integer." /></li>
    </ul>

</section>