---
import StatBlock from '../components/StatBlock.astro';
---

<section>
    <div class="px-8 flex gap-4 justify-around items-center flex-wrap">
        <img src="group-photo.jpg" alt="Group of students standing around a robotics testing ring" />
        <div class="flex gap-8">
            <StatBlock iconPack="healthicons" iconName="low-bars-outline" stat="741" text="Students and families reached since Fall 2022" />
            <StatBlock iconPack="bi" iconName="gear" stat="205%" text="increase in youth reached since 2022" />
        </div>
    </div>
</section>