---
import ContactButton from "../components/ContactButton.astro";
---

<section class="flex flex-col gap-8 justify-center items-center">
    <header class="px-8 py-24 text-center max-w-7xl m-auto">
        <span class="uppercase font-bold text-xl text-primary-500 mb-4">Roadmap</span>
        <h2 class="text-4xl font-bold mb-12">Bibendum amet at molestie mattis.</h2>
        <p>Plans for expansion include the addition of up to 4 student success coaches, hired as contributions and foundation support permits.</p>
    </header>
    <div class="flex gap-4 justify-center mb-24">
        <a class="block border-2 border-primary-500 bg-primary-500 px-8 py-4 font-bold text-white" href="#get-involved">Donate</a>
        <ContactButton dark href="mailto:contact+partnerships@swstem.org" text="Explore Partnerships" />
    </div>
    <div><img src="chart.jpg" /></div>
</section>